.comicDetailTabs__synopsis {
  color: #595959 !important;
  font-size: 1.06rem !important;
}

.comicDetailTabs__chapters {
  color: #595959 !important;
  font-size: 1rem !important;
}

.comicDetailTabs__chapters:hover {
  color: #1d8efb !important;
}
