@import '~antd/dist/antd.css';

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.nav {
  float: right;
}

.home__hero {
  background-color: #002f5c;
  height: 95vh;
  padding: 0 !important;
  padding: 0 50px !important;
}

.home__card {
  background-color: transparent;
  border: none;
  color: #fff;
}

.home_card-title {
  color: #fff !important;
  font-size: 4rem !important;
}

.home_card-paragraph {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 2.5rem !important;
}

.home__latest-title {
  font-weight: bold !important;
}

.home__latest-card {
  width: 15rem !important;
}

.home__genre-card {
  width: 15rem !important;
}

.comicDetail {
  margin-top: 2rem;
  min-height: 100vh;
}

.comicDetail__genre {
  color: #1d8efb !important;
  font-size: 1.15rem !important;
}

.comicDetail__author {
  font-size: 1.15rem !important;
}

.comicDetail_skeleton {
  margin-top: 6rem;
  min-height: 80vh;
}

.comicDetail_header {
  margin-bottom: 2rem !important;
}

.comicDetail__chapters {
  font-size: 1rem !important;
}

.comicDetail__chapters:hover {
  color: #1d8efb !important;
}
